{% extends 'main.twig' %}
{% block content %}
{# archivo twig para todos los modals que se usaran en el cotizador #}
{% include 'includes/modal.twig' %}
<section class="vehiculo">
    <h3>COTIZACIÓN SEGURO VEHICULAR - LA MEJOR OPCIÓN </h3>
   {# <br>
    Cotización Nro. {{ "%07d"|format(cotizacion.id) }}
    <br>#}
    <div class="form-group btn-cotizar">
        <button style="font-size: 18px" type="button" class="btn btn-danger" onclick="get_modal('contacto_telefonico', 0);"><img src="http://ariansen.pe/images/phone-call.png"> Llámanos</button>
    </div>
    <br>
    <table cellpadding="0" cellspacing="0" style="text-align: left; font-size:12px; font-family:Helvetica; border-collapse: collapse; width: 100%;">
        <tbody>
        <tr>
            <td style="width: 50%">
                <table style="width: 100%; font-size:17px">
                    <tbody>
                    <tr>
                        <td style="width: 27%; text-align: center"><img src="http://ariansen.pe/images/broker-seguros-allemant.png"></td>
                        <td style="width: 73%; font-weight:bold;">Seguro Vehicular
                            <p>Cotización Nro: {{ "%07d"|format(cotizacion.id) }}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td style="width: 50%">
                <table style="width: 100%; font-size:17px">
                    <tbody>
                    <tr>
                        <td style="font-weight:bold;">Vehículo:</td>
                        <td>{{ cotizacion.marca }} {{ cotizacion.modelo }} </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Año:</td>
                        <td>{{ cotizacion.anio|number_format }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Valor Pactado:</td>
                        <td>$ {{ cotizacion.vehiculo_valor_comercial|number_format(2, '.', ',') }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-responsive">
        <tbody>
            {#<tr> <td colspan="6">CARACTERÍSTICAS DEL VEHÍCULO</td></tr>#}
            {#<tr style="text-align: left">
                <td>
                    MARCA:	{{ cotizacion.marca }} <br>
                    MODELO:	{{ cotizacion.modelo }}<br>
                    AÑO:	{{ cotizacion.anio }}<br>
                    VALOR CONVENIDO:	$ {{ cotizacion.vehiculo_valor_comercial }}<br>
                    El monto divido en 4 *

                </td>
            </tr>#}
            {% for empresa_info in empresas_info %}
                {% set prima= prima_comercial(cotizacion.vehiculo_valor_comercial, empresa_info.tasa) %}
                <tr class="color-tr-table"><td>COMPAÑÍA</td>
                    <td>PRIMA ANUAL<br>(INC IGV)</td>
                    <td>COBERTURAS</td>	<td>ASISTENCIAS</td><td>DEDUCIBLES</td>
                    <td>¿REQUIERE GPS?</td></tr>
                <tr>
                    <td><img src="http://ariansen.pe/images/logo_rimac.png"> </td>
                    <td>
                    {% if prima > 350 %}
                        $ {{ prima|number_format(2, '.', ',') }}
                    {% else %}
                        $ 350
                    {% endif %}
                        <br>
                        <div style="background-color: #2e4cbb; font-weight: bold; color: white;">CUOTA MENSUAL<br>
                        (4 MESES)</div>
                        $ {{ (prima / 4)|number_format(2, '.', ',') }}
                    </td>
                    <td>
                        DAÑO PROPIO <br>
                        Hasta el valor pactado $ {{ cotizacion.vehiculo_valor_comercial|number_format(2, '.', ',') }}<br>
                        RESPONSABILIDAD CIVIL<br>
                        Hasta $150,000<br>
                        <a href="javascript:get_modal('cobertura', {{ empresa_info.id }});">Ver Detalles</a>
                    </td>
                    <td>
                        CHOFER DE REEMPLAZO<br>
                        Hasta 3 veces al año<br>
                        AUXILIO MECANICO<br>
                        24 horas<br>
                        <a href="javascript:get_modal('asistencia', {{ empresa_info.id }});">Ver Detalles</a>
                    </td>
                    <td>
                        TALLERES AFILIADOS<br>
                        15% Mínimo $150<br>
                        TALLERES MULTIMARCA<br>
                        10% Mínimo $150<br>
                        <a href="javascript:get_modal('deducible', {{ empresa_info.id }});">Ver Detalles</a>
                    </td>
                    <td>
                        {% if cotizacion.vehiculo_valor_comercial > 50000 %}
                            SI
                        {% elseif empresa_info.gps == 1 %}
                            SI
                        {% else %}
                            NO
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-group btn-imprimir">
        <button class="btn btn-primary" onclick="javascript:window.print();">IMPRIMIR</button>
    </div>

    <div class="form-group btn-cotizar">
        <a class="btn btn-primary" href="{{ base_url() }}">COTIZA OTRO VEHÍCULO</a>
    </div>
</section>
{% endblock %}