{% extends 'mails/main.twig' %}
{% block title %}
    Cotización Nro. <span style="color:#7ccb4e">{{ "%07d"|format(cotizacion.id) }}</span>
{% endblock %}
{% block header %}
    <br>
    <br>
    <span style="font-family: arial; font-size: 28px; color:#808080;">
                                            Hola {{ cotizacion.conductor_nombres }} {{ cotizacion.conductor_apellidos }},</span><br>
    <span style="font-family: arial; font-size: 28px; color:#808080;"></span><br>

    <span style="font-family: arial; font-size: 14px;color:#808080;">Te Saluda <strong>Ariansen Allemant</strong>, cuenta con
    nosotros para asesorarte en la adquisición de tu <strong>Seguro vehicular</strong> para el </span>
    <span style="font-family: arial; font-size: 14px; color:#7ccb4e;">{{ cotizacion.marca }} {{ cotizacion.modelo }}</span>
    <span style="font-family: arial; font-size: 14px;color:#808080;">valorizado en $ {{ cotizacion.vehiculo_valor_comercial }}</span>
    <br>

{% endblock %}
{% block summary %}
    <table class="table table-responsive" width="640" bgcolor="#fcfcfc" border="0" cellspacing="0" cellpadding="0"
           style="color:#898989;font-family: arial; font-size: 13px;">
        <tbody>
        <tr>
            <td colspan="3" width="430"
                style="border-bottom:2px solid #b4b4b4; padding:15px 10px 15px 15px; font-size: 18px;">
                Resumen de la cotización
            </td>
            <td align="center" width="130"
                style="border-bottom:2px solid #b4b4b4;  font-size: 16px; padding-bottom: 10px 0;">
                {{ "now"|date("F d, Y") }}
            </td>
        </tr>
        <br>
        <!--empresas-->
        {% for empresa_info in empresas_info %}
            {% set prima= prima_comercial(cotizacion.vehiculo_valor_comercial, empresa_info.tasa) %}
        <tr style="background-color: #2b81da;color: white; font-weight: bold;">
            <td align="center" width="50">COMPAÑÍA</td>
            <td align="center" width="100">P. ANUAL<br>(INC IGV)</td>
            <td align="center" width="100">COBERTURAS</td>
            <td align="center" width="100">ASISTENCIAS</td>
            <td align="center" width="100">DEDUCIBLES</td>
            <td align="center" width="100">¿REQUIERE GPS?</td>
        </tr>

        <tr>
            <td valign="top" width="50" style="padding:10px 0 0 15px;">{{ empresa_info.nombre}}
            </td>
            <td valign="top" align="center" width="100" style="padding-top: 10px;">
                {% if prima > 350 %}
                    $ {{ prima|number_format(2, '.', ',') }}
                {% else %}
                    $ 350
                {% endif %}
                <br>
                *CUOTA MENSUAL<br>
                (4 MESES)<br>
                $ {{ (prima / 4)|number_format(2, '.', ',') }}
            </td>
            <td valign="top" align="center" width="100" style="padding-top: 10px;">
                DAÑO PROPIO <br>
                Hasta el valor convenido $ {{ cotizacion.vehiculo_valor_comercial|number_format(2, '.', ',') }}<br>
                RESPONSABILIDAD CIVIL<br>
                Hasta $150,000<br>
            </td>
            <td valign="top" align="center" width="100" style="padding:10px">
                CHOFER DE REEMPLAZO<br>
                Hasta 3 veces al año<br>
                AUXILIO MECANICO<br>
                24 horas<br>
            </td>
            <td valign="top" align="center" width="100" style="padding:10px">
                TALLERES AFILIADOS<br>
                15% Minimo $150<br>
                TALLERES MULTIMARCA<br>
                10% Minimo $150<br>
            </td>
            <td valign="top" align="center" width="100" style="padding:10px">
                {% if cotizacion.vehiculo_valor_comercial > 50000 %}
                    SI
                {% elseif empresa_info.gps == 1 %}
                    SI
                {% else %}
                    NO
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        <!--End empresas-->
{#        <tr>
            <td valign="top" width="250" style="padding:30px 0">
                <a href="{{ cotizacion_url }}" target="_blank">Ver Detalles</a>
            </td>
        </tr>#}
        </tbody>
    </table>
    <div style="text-align: center; padding:30px 0">
        <a href="{{ cotizacion_url }}" target="_blank" style="text-transform: uppercase;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    background: #0070ba;
    color: white;
    text-decoration: none;
    font-weight: bold">Ver Detalles</a>

    </div>
{% endblock %}